<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	</head>

	<nav th:replace="fragments/testa.html :: navbar"></nav>
	<body>
		<div>
    		<h4>Inserisci i dati del vino che vuoi inserire:</h4>
  		</div>
	
		<form th:action="@{/inserisciVino}" method="POST" th:object="${vino}">
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput">Nome</label>
    			<input type="text" th:field="*{nome}" class="form-control" id="formGroupExampleInput" placeholder="nome">
    			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
  			</div>
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Colore</label>
    			<input type="text" th:field="*{colore}" class="form-control" id="formGroupExampleInput2" placeholder="colore">
    			<span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span>
  			</div>
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Descrizione</label>
    			<input type="text" th:field="*{descrizione}" class="form-control" id="formGroupExampleInput2" placeholder="descrizione">
    			<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
  			</div>
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Voto</label>
    			<input type="text" th:field="*{voto}" class="form-control" id="formGroupExampleInput2" placeholder="voto">
    			<span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}"></span>
  			</div>
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Immagine</label>
    			<input type="text" th:field="*{immagine}" class="form-control" id="formGroupExampleInput2" placeholder="immagine">
    			<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
  			</div>
  			
  			<div class="form-group">
    			<label for="formGroupExampleInput2">Anno di imbottigliamento</label>
    			<input type="text" th:field="*{annoImbottigliamento}" class="form-control" id="formGroupExampleInput2" placeholder="annoImbottigliamento">
    			<span th:if="${#fields.hasErrors('annoImbottigliamento')}" th:errors="*{annoImbottigliamento}"></span>
  			</div>
  			
  			
  			<div class="col-sm-10">
      			<button type="submit" class="btn btn-primary">Aggiungi vino</button>
    		</div>
		</form>
	</body>
</html>