<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="testa">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>Siwmelier</title>
</head>

</html>