<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/myBase.html :: intestazione">
	<link th:href="@{/css/carousel.css}" rel="stylesheet">

</head>

<header>
	<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>
</header>

<body>

<!--CARDS DEI VINI PIU VOTATI, MOSTRIAMO SOLO I PRIMI 4 DELLA LISTA PER EVITARE
	CHE LE CARDS SIANO TROPPO PICCOLE.-->
	<div th:replace="fragments/myBase.html :: cards-vini"></div>


	<main>
		<!--Immagini vini alternati-->
		<div th:replace = "fragments/myBase.html :: immagini-alternate"></div>

		<!-- FOOTER -->
		<footer th:replace = "fragments/myBase.html :: pie"></footer>

	</main>

</body>

</html>


