<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/myBase.html :: intestazione">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
</head>

<nav th:replace="fragments/myBase.html :: navigazione"></nav>

<body>

   <div class="row h-100 justify-content-center align-items-center" style="background-color:#ddccff">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="">
         <div class="text-center" style="margin-top:50px;">
            <div class="panel-title">Registrati</div>
         </div>  
         <div class="row justify-content-md-center" >
            <form id="signupform" class="form-horizontal" role="form" th:action="@{/register}" method="POST">

               <div id="signupalert" style="display:none" class="alert alert-danger">
                  <p>Error:</p>
                  <span></span>
               </div>

               <div class="row" style="padding-left: 90px">

                  <div class="col" style="margin-top: 25px">
                   <div class="form-group">

                     <label for="email" class="col-md-3 control-label">Username</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control" name="email" placeholder="username" th:field="${credentials.username}">
                    </div>
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
                 </div>
              </div>


              <div class="col" style="margin-top: 25px">    
               <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                     <input type="password" class="form-control" name="passwd" placeholder="password" th:field="${credentials.password}">
                     <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
                  </div>
               </div>
            </div>

         </div>

         <div class="row" style="padding-left: 90px">

            <div class="col" >     
               <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label">Nome</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="firstname" placeholder="nome" th:field="${user.nome}">
                  </div>
               </div>
            </div>

            <div class="col">  
               <div class="form-group" style="margin-bottom: 50px">
                  <label for="firstname" class="col-md-3 control-label">Cognome</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="lastname" placeholder="cognome" th:field="${user.cognome}">
                  </div>
               </div>
            </div>

         </div>

         <div class="form-group">
            <!-- Button -->                                        
            <div class="text-center">
               <button type="submit" class="btn btn-lg btn-primary btn-block" style="background-color:#9966ff; margin-bottom:20px">  Registrati</button>
               <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%"> se hai gia' un account effettua il 
                  <a th:href="@{/login}" style="color: #9966ff"> Login
                  </a>
               </div>  
            </div>
         </div>


      </form>
   </div>
</div>
</div>
<footer th:replace="fragments/myBase.html :: pie"></footer> 
</body>
</html>
