<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/cataloghi.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>

	<h3 class="titoli-form">Ecco i dati che hai inserito: </h3>
	<form th:action="@{/admin/confermaVino}" method="POST" th:object="${vino}">
		<div th:if="${vino}" th:object="${vino}">
			
			<div th:replace="fragments/myBase.html :: vino"></div>

			<hr>
			
			<section>
				<button th:type="submit" th:name="action" th:value="confirm">Conferma</button>
				<button th:type="submit" th:name="action" th:value="cancel">Torna indietro</button>
			</section>

		</form>

		<footer th:replace="fragments/myBase.html :: pie"></footer>

	</body>
	</html>